[run]
branch = True
source = robotdataprocess

[paths]
source =
    src/robotdataprocess
    */robotdataprocess/src/robotdataprocess
    */src/robotdataprocess
    /usr/local/lib/python3.8/dist-packages/robotdataprocess