# Ignore generated figures & files
figures/
outputs/

# Ignore coverage files
.coverage
.coverage.*
htmlcov/

# Ignore profile output
profile.out

#ignore pyenv
venv/

# Ignore Python cache files
*/__pycache__/
__pycache__/

.vscode/